<h1>Hello World </h1>

<%= link_to 'about', about_path%>
<%= link_to 'contact', contact_path%>

<h2>Home Viewcounter </h2> 
	<%	if (Viewcounter.find_by page_name: "Home") != nil	%>
		<%= (Viewcounter.find_by page_name: "Home").view_count %>
	<% end %>

<h2>About Viewcounter </h2> 
	<% if (Viewcounter.find_by page_name: "About") != nil %>
		<%= (Viewcounter.find_by page_name: "About").view_count %>
	<% end %>		

<h2>Contact Viewcounter </h2> 
	<% if (Viewcounter.find_by page_name: "Contact") != nil %>
		<%= (Viewcounter.find_by page_name: "Contact").view_count %> 
	<% end%>



